.home-main {
    width: 100%;
    height: auto;
    padding: 3%;

    ion-textarea {
        background-color: #333;
        color: #fff;
        font-size: 1.1rem;
        border-radius: 10px
    }

    ion-button {
        font-family: rm;
        height: 45px;
        --border-radius: 10px;
    }

    ion-select {
        margin: 4% 0;
        border-radius: 10px;
        background-color: #333;
        color: #fff;
        font-family: rm;
        --padding-top: 14px;
        --padding-bottom: 14px;
    }
}