<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="goBack()">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      Add {{data}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-main">
    <div class="home-text">
      <ion-textarea placeholder="Type something here..." rows="10" [(ngModel)]="textContent"></ion-textarea>
      <ion-select placeholder="Choose topic" interface="alert" [(ngModel)]="topicType">
        <ion-select-option *ngFor="let topic of topics" [value]="topic.course">{{topic.course}}</ion-select-option>
      </ion-select>
      <ion-button (click)="submitQueAns()"  color="primary" size="medium" expand="block" >Submit</ion-button>
    </div>
  </div>
</ion-content>