<ion-content>
  <div class="loginmain">
    <div class="logintop ion-text-left">
      <img src="../../../assets/img/logo.png" alt="">
      <h4 class="ion-no-margin">Welcome to StudyHub,</h4>
      <h6 class="ion-no-margin">Sign in to continue</h6>
    </div>
    <div class="loginmid">
      <form [formGroup]="loginForm">
        <ion-item class="ion-no-padding">
          <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <div class="ion-text-right loginforminner">
          <a (click)="goToForgot()">Forgot Password?</a>
        </div>
        <div class="ion-text-center">
          <ion-button color="primary" (click)="loginUser()" [disabled]="!loginForm.valid" class="loginbtn"
            expand="full">LOGIN</ion-button>
        </div>
      </form>
      <div class="ion-text-center loginbot">
        <h6 class="ion-no-margin">I'm a new user, <a (click)="goToSignUp()">Sign Up</a></h6>
      </div>
    </div>
  </div>
</ion-content>