<ion-content>
  <div class="loginmain">
    <div class="logintop ion-text-left">
      <img src="../../../assets/img/logo.png" alt="">
      <h4 class="ion-no-margin">We Are Sorry,</h4>
      <h6 class="ion-no-margin">Reset your password now.</h6>
    </div>
    <div class="loginmid">
      <form [formGroup]="forgotForm">
        <ion-item class="ion-no-padding">
          <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-button color="primary" (click)="sendReset()"  class="loginbtn" expand="full">Reset Password</ion-button>
        </div>
      </form>
      <div class="ion-text-center loginbot">
        <h6 class="ion-no-margin">I'm already a user, <a (click)="goToLogin()" >Sign in</a></h6>
      </div>
    </div>
  </div>
</ion-content>