<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="goBack()">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      About App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="aboutmain">
    <div class="abouttop ion-text-center">
      <img src="../../../assets/img/logo.png" alt="">
      <h5 class="ion-no-margin">StudyHub App</h5>
      <span>v0.0.1</span>
      <p class="ion-no-margin">
        This system proposes an intelligent question answering system which is suitable for college professional
        courses. This application of intelligent question answering system in course teaching is an effective way to
        reduce the workload of teachers and improve students’ learning efficiency.
      </p>
    </div>
    <div class="aboutbot">
      <div class="about-sub">
        <div class="aboutb-header">
          <h6 class="ion-no-margin">Credits</h6>
        </div>
        <ion-item detail class="ion-no-margin" (click)="openLink()">
          <ion-icon name="globe"></ion-icon>
          Icons from Freepik
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>