.aboutmain {
    color: #000;
    padding: 0 3% 3%;

    .abouttop {
        color: #fff;
        margin-bottom: 3%;

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        h5 {
            font-size: 1.3rem;
            font-family: rb;
        }

        span {
            color: #555;
            font-size: .9rem;
        }

        p {
            font-size: .93rem;
            padding: 0 4%;
        }
    }

    .aboutbot {
        .about-sub {
            h6 {
                font-family: rm;
                margin-bottom: 1% !important;
            }

            ion-item {
                --background: transparent;
                color: #888;
                font-family: rm;
                --border-color: transparent;

                ion-icon {
                    color: #888;
                    margin-right: 3%;
                }
            }
        }
    }
}