<ion-content>
  <div class="loginmain">
    <div class="logintop ion-text-left">
      <img src="../../assets/img/logo.png" alt="">
      <h4 class="ion-no-margin">Create Account,</h4>
      <h6 class="ion-no-margin">Sign up to get started</h6>
    </div>
    <div class="loginmid">
      <form [formGroup]="registerForm">
        <ion-item class="ion-no-padding">
          <ion-input type="text" formControlName="first_name" placeholder="Firstname"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-input type="text" formControlName="last_name" placeholder="Lastname"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-select placeholder="Gender" formControlName="gender" interface="alert">
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-select placeholder="University" formControlName="university" interface="alert">
            <ion-select-option value="University of Oxford">University of Oxford</ion-select-option>
            <ion-select-option value="Univerzita Karlova">Univerzita Karlova</ion-select-option>
            <ion-select-option value="Universiteit van Amsterdam">Universiteit van Amsterdam</ion-select-option>
            <ion-select-option value="Universität Hamburg">	Universität Hamburg</ion-select-option>
            <ion-select-option value="Moscow State University">Moscow State University</ion-select-option>
            <ion-select-option value="University of Paris">University of Paris</ion-select-option>
            <ion-select-option value="Università di Pisa">Università di Pisa</ion-select-option>
            <ion-select-option value="Universiteit Gent">	Universiteit Gent</ion-select-option>
            <ion-select-option value="Aarhus Universitet">Aarhus Universitet</ion-select-option>
            <ion-select-option value="Universitat de Barcelona">Universitat de Barcelona</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-button color="primary" (click)="signUpUser()" [disabled]="!registerForm.valid" class="loginbtn"
            expand="full">Sign Up</ion-button>
        </div>
      </form>
      <div class="ion-text-center loginbot">
        <h6 class="ion-no-margin">I'm already a user, <a (click)="goToLogin()">Sign in</a></h6>
      </div>
    </div>
  </div>
</ion-content>