<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Topics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="topic-main">
    <ion-row>
      <ion-col size="6" *ngFor="let topic of topics">
        <div class="topic-card ion-text-center" (click)="openTopic(topic)">
          <img src="../../assets/img/topics/{{topic.img}}.png" alt="">
          <h6 class="ion-text-capitalize ion-no-margin">{{topic.course}}</h6>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>