.topic-main{
    padding: 3%;
    .topic-card{
      width: 100%;
      height: auto;
      border-radius: 10px;
      background-color: #333;
      padding: 8% 3%;
      height: 143px;
      img{
        height: 70px;
      }
      h6{
        margin-top: 3% !important;
        color: #fff;
        font-family: rm;
      }
    }
  }