<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddQueAns('question')">
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-list side="top">
      <ion-fab-button (click)="openAddQueAns('answer')">
        <ion-icon name="chatbox-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list> -->
  </ion-fab>
  <div class="home-main">
    <div class="home-card" (click)="openQuesAns(question)" *ngFor="let question of allQuestions" >
      <ion-chip>
        <ion-avatar>
          <img src="../../assets/img/topics/{{question.topic | img}}.png">
        </ion-avatar>
        <ion-label class="ion-text-capitalize">{{question.topic}}</ion-label>
      </ion-chip>
      <h5 class="ion-no-margin">
        {{question.text}}
      </h5>
      <span>{{question.createdAt * 1000 | date:'MMM d, y, h:mm:ss a'}}</span>
    </div>
  </div>
</ion-content>