<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="openEditProfile()" [disabled]="userData?.fname === ''">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="changeImg()">
        <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="signOut()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-main">
    <div class="profiletop ion-text-center">
      <img src="../../assets/img/profileuser.png" alt="" *ngIf="userData?.photourl === ''" >
      <img [src]="userData?.photourl" alt="" *ngIf="userData?.photourl !== ''">
      <h5 class="ion-no-margin ion-text-capitalize">{{userData?.fname}} {{userData?.lname}}</h5>
      <p class="ion-no-margin">
        <span>{{userData?.university}}</span>
      </p>
      <span>{{userData?.email}}</span>
      <p class="ion-no-margin">
        <ion-badge color="primary" class="ion-no-margin ion-text-capitalize">{{userData?.gender}}</ion-badge>
      </p>
      <p class="ion-no-margin">
        {{userData?.bio}}
      </p>
    </div>
    <div class="profilebot">
      <ion-item detail (click)="goToAbout()" >
        <ion-label>
          About App
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>