.login-bot {
    margin: 0;
}

.edit-main {
    padding: 3%;
}

.login-bot ion-item ion-input {
    --padding-start: 13px;
    --padding-top: 15px;
    --padding-bottom: 15px;
}

ion-select {
    --padding-top: 15px;
    --padding-bottom: 15px;
    width: 340px !important;
}

ion-textarea {
    padding-left: 13px;
    color: #fff;
    font-family: rm;
}

ion-item {
    margin-bottom: 4%;
    --border-color: #333;

    ion-input {
        --padding-start: 13px;
        color: #fff;
        font-family: rm;

        input {
            padding-left: 10px;
            font-family: rm;
        }
    }

    ion-select {
        max-width: 100%;
        width: 121px;
    }
}

ion-button {
    height: 50px;
    --box-shadow: 0 0 0 0 !important;
    font-family: rb;
}