<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="goBack()">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="edit-main login-bot">
    <ion-item class="ion-no-padding">
      <ion-input [(ngModel)]="fname" placeholder="Firstname" type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-input [(ngModel)]="lname" placeholder="Lastname" type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-input [(ngModel)]="email" readonly placeholder="Email" type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-textarea  [(ngModel)]="bio" placeholder="Bio" maxlength="255" rows="6"></ion-textarea>
    </ion-item>
    <ion-button color="primary" expand="full" (click)="editProfile()" >
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Save Profile
    </ion-button>
  </div>
</ion-content>