/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'rr';
    src: url('assets/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'rl';
    src: url('assets/fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'rm';
    src: url('assets/fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'rb';
    src: url('assets/fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'rbl';
    src: url('assets/fonts/Raleway-Black.ttf');
}
ion-toolbar{
    --background: #000;
    color: #fff;
}
ion-title{
    font-family: rb;
}

* {
    font-family: rr;
}
ion-content{
    --background: #000;
}
ion-item{
    --background: transparent;
    ion-input{
        color: #fff;
        --placeholder-color: #888 !important;
    }
}

.loginmain {
    padding: 5%;

    img {
        width: 100px;
        height: 100px;
    }

    .logintop {
        margin: 5% 0;

        h4 {
            font-family: rm;
            font-size: 1.5rem;
            color: #fff;
        }

        h6 {
            font-size: 1.25rem;
            color: #888;
            font-family: rb;
        }
    }

    .loginforminner {
        margin: 4% 0;

        a {
            text-decoration: none;
            font-family: rb;
            color: #fff;
        }
    }

    ion-input {
        --padding-top: 15px;
        --padding-bottom: 15px;
        font-family: rb;
        color: #fff;
    }

    .loginbtn {
        height: 36px;
        font-size: 14px;
        margin-top: 4%;
        font-weight: 500;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        --border-radius: 4px;
        font-family: rm;
        --box-shadow: 0 0 0 0;
        --color: #fff !important;
    }

    .loginbot {
        margin-top: 5%;

        h6 {
            font-family: rb;
            color: #fff;

            a {
                font-family: rb;
            }
        }
    }

    .loginsocial {
        margin: 5% 0;

        ion-button {
            height: 36px;
            margin-bottom: 3%;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            --border-radius: 4px;
            font-family: rb;
            --ion-color-base: #f5f5f5 !important;
            --box-shadow: 0 0 0 0;
            --ion-color-contrast: #000 !important;
        }
    }

}

.profile-main {
    padding: 0 5% 3%;
    color: #000;

    .profiletop {
        width: 100%;
        height: auto;
        padding: 0 5% 5%;
        border-radius: 20px;

        img {
            width: 120px;
            height: 120px;
            margin: 10% 0 3%;
            object-fit: cover;
            border-radius: 50%;
        }

        h5 {
            font-size: 1.2rem;
            font-family: rb;
            margin: 0% 0 2% !important;
            color: #fff;
        }
        span{
            color: #ddd;
        }

        ion-badge {
            border-radius: 50px;
            padding: 1% 5%;
            margin-top: 3%;        
        }

        p {
            font-size: 1rem;
            margin-bottom: 2%;
            color: #ddd;
            line-height: 20px;
        }
    }

    .profilebot {
        h5 {
            font-family: rm;
            font-size: 1.2rem;
            margin-bottom: 2%;
        }

        h6 {
            font-size: 1.1rem;
            margin-bottom: 2%;
            border-bottom: 1px solid #f5f5f5;
            padding-bottom: 3%;
        }
    }
}
.home-main {
  padding: 3%;

  .home-card {
    background-color: #222;
    color: #fff;
    padding: 3%;
    margin-bottom: 4%;
    border-radius: 10px;

    ion-badge {
      border-radius: 50px;
      padding: 1% 5%;
    }

    h5 {
      font-size: 1.1rem;
      margin-bottom: 4%;
      font-family: rm;
    }

    p {
      span {
        margin-right: 3%;
      }
    }

    span {
      color: #999;
      font-size: .9rem;
    }
  }
}