.topic-card {
    background-color: #333;
    border-radius: 20px;
    padding: 3%;
    margin-bottom: 4%;

    img {
        height: 70px;
        margin-top: 2%;
    }

    h5 {
        color: #fff;
        font-family: rb;
        font-size: 1.2rem;
    }
}
ion-chip{
    background-color: #000;
    color: #fff;
    ion-label{
        font-family: rm;
    }
}