<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="primary" (click)="goBack()">
              <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
          {{data.course}}
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-main">
      <div class="topic-card ion-text-center">
          <img src="../../../assets/img/topics/{{data.img}}.png" alt="">
          <h5 class="ion-text-capitalize ion-no-margin">{{data.course}}</h5>
      </div>
      <div class="home-card" (click)="openQuesAns(question)" *ngFor="let question of allQuestions">
          <ion-chip>
              <ion-avatar>
                  <img src="../../assets/img/topics/{{question.topic | img}}.png">
              </ion-avatar>
              <ion-label class="ion-text-capitalize">{{question.topic}}</ion-label>
          </ion-chip>
          <h5 class="ion-no-margin">
              {{question.text}}
          </h5>
          <span>{{question.createdAt * 1000 | date:'MMM d, y, h:mm:ss a'}}</span>
      </div>
  </div>
</ion-content>