<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="goBack()">
        <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      Question
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-main">
    <div class="home-card">
      <ion-chip>
        <ion-avatar>
          <img src="../../assets/img/topics/{{data?.topic | img}}.png">
        </ion-avatar>
        <ion-label class="ion-text-capitalize">{{data?.topic}}</ion-label>
      </ion-chip>
      <h5 class="ion-no-margin">
        {{data?.text}}
      </h5>
      <span>{{data?.createdAt * 1000 | date:'MMM d, y, h:mm:ss a'}}</span>
      <ion-item class="ion-no-margin ion-no-padding">
        <ion-avatar slot="start">
          <img src="../../assets/img/profileuser.png" alt="" *ngIf="userData?.photourl === ''">
          <img [src]="userData?.photourl" alt="" *ngIf="userData?.photourl !== ''">
        </ion-avatar>
        <ion-label>
          <h6 class="ion-no-margin ion-text-capitalize">{{userData?.fname}} {{userData?.lname}}</h6>
          <span class="ion-text-capitalize">{{userData?.university}}</span>
        </ion-label>
      </ion-item>
    </div>
    <div class="ans-main">
      <ion-button color="light" expand="block" (click)="openAltAns()">
        <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
        Add an answer
      </ion-button>
    </div>
    <div class="question-timeline">
      <div class="home-card" *ngFor="let answer of answersData">
        <h5 class="ion-no-margin">
          {{answer?.answer}}
        </h5>
        <p class="ion-no-margin">
          <span>
            <ion-icon name="thumbs-up-outline"></ion-icon> {{answer?.upvotes}}
          </span>
          <span>
            <ion-icon name="thumbs-down-outline"></ion-icon> {{answer?.downvotes}}
          </span>
        </p>
        <span>{{answer?.createdAt * 1000 | date:'MMM d, y, h:mm:ss a'}}</span>
        <div>
          <ion-row>
            <ion-col size="6" (click)="voteAnswer(answer?.ansKey, 'upvote')" >
              <div class="ion-text-center">
                <ion-icon name="thumbs-up-outline" color="success"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="6" (click)="voteAnswer(answer?.ansKey, 'downvote')" >
              <div class="ion-text-center">
                <ion-icon name="thumbs-down-outline" color="danger"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>