.home-card {
    h5 {
        font-size: 1.4rem;
        margin: 4% 0;
        font-family: rm;
    }

    ion-item {
        h6 {
            color: #fff;
            font-family: rm;
            font-size: 1.05rem;
        }
    }
}

.question-timeline {
    .home-card {
        h5 {
            font-size: 1.1rem;
            margin-bottom: 4%;
            font-family: rr;
        }
    }
}
ion-chip{
    background-color: #000;
    color: #fff;
    ion-label{
        font-family: rm;
    }
}
.ans-main{
    margin-bottom: 4%
}